
<div ng-controller="MainCtrl as main" class="container">
  <div id="login-box">
    <div class="logo">
    <CENTER>
      <img src="https://www.uniquindio.edu.co/info/uniquindio/media/bloque2778464" />
      </CENTER>
      <h1 class="logo-caption"><span class="tweak">L</span>ogin</h1>
    </div><!-- /.logo -->
    <div id="error"></div>
    <div class="controls">       
    
      <input type="text" ng-model="name" name="username" id="username" placeholder="Username" class="form-control" />
      <input type="password" ng-model="pwd" name="password" id="password" placeholder="Password" class="form-control" />




      <button type="button" ng-click="enviar()" id= "conectar" class="btn btn-default btn-block btn-custom">Login</button>








    </div><!-- /.controls -->
  </div><!-- /#login-box -->
</div><!-- /.container -->

<div id="particles-js"></div>
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>-->